
.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border: 0;
    padding: 0.5rem;
    border-bottom: 1px solid var(--blue-800);
}

.label {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 5px;
    pointer-events: none;
    transition: all 100ms ease-in-out;
}

.input:focus ~ .label {
    top: -2rem;
}

.submit:hover {
    background: var(--blue-600);
}

.error {
    color: red;
}
